.topnav {
    overflow: hidden;
    background-color: #ff6666;
    position: relative;
    font-weight: bold;
}

.topnav #links {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #ff4c4c;
    color: white;
}

.mobileImage{
    height:25px;
}

.saleStyle{
    color: yellow;
    font-size: 75%;
    margin-bottom: 0px;
}