.countdownNumbers{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.countdownText{
    font-size:75%;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .countdownText{
        font-size:50%;
    }

    .countdownNumbers{
        font-size: 100%;
    }
}