.bottomPaddings{
    display:flex;
    position: fixed;
    bottom: 0;
    width: 75%;
    text-align: center;
}

.paddingTopFooter{
    margin-top:15%;
}

@media only screen and (max-width: 600px) {
    .bottomPaddings{
        position: relative;
    }
}