.dollarSymbol{
    font-size: 8vw;
    font-weight: bold;
    display: flex;
    padding-top: 12vw;
    margin-left: 5vh;
}

.priceBig{
    font-size: 28vw;
    font-weight: bold;
}

.priceSmall{
    font-size: 6vw;
    font-weight: bold;
    padding-top: 11vw;
}

.priceText{
    font-size: 4vw;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .priceBig{
        font-size: 25vh;
        margin-bottom: 0px;
    }

    .dollarSymbol{
        font-size: 12vw;
        padding-top: 20vw;
        margin-left: 10vh;
        margin-bottom: 0px;
    }

    .priceSmall{
        font-size: 8vw;
        padding-top: 18vw;
    }

    .priceText{
        font-size: 6vw;
        margin-left: 0;
        margin-bottom: 0px;
    }
}